venv/
env/
epdf/
.venv/
.pyenv/
.vscode/
.virtualenvs/
pip-wheel-metadata/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.out
*.err
*.swp
*.swo
.DS_Store
.env
.aws/

# Ignore data folder


config.yaml
input_config.yaml.j2
cmds.txt
pipeline_config.yaml
node_modules
emc_data

data/
logs/

# Ignore everything in java_utilsAdd commentMore actions
/src/java_utils/target/
/src/java_utils/**/target/
/src/java_utils/**/out/
/src/java_utils/**/.classpath
/src/java_utils/**/.project
/src/java_utils/**/.settings/

baml_client
baml_src/resume.baml